<select id="selectCondition" resultType="com.cn.vo.X">
	SELECT * FROM TABLE_NAME tb
	WHERE tb.TENANT_ID = ${tenantId}
	<if test="dto.personName != null">
		AND tb.PERSON_NAME = #{dto.personName}
	</if>
	<if test="dto.personAge != null">
		AND tb.PERSON_AGE = DATE_FORMAT(#{dto.personAge},'%Y-%m-%d %H:%i:%S')
	</if>
</selset>